In [64]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Thoughtworks")\
.config("spark.ui.port","0")\
.config("spark.sql.warehouse.dir","user/itv010683/warehouse")\
.enableHiveSupport()\
.master("yarn")\
.getOrCreate()

In [65]:
# spark.stop()

In [66]:
from pyspark.sql .functions import col,count,desc

In [67]:
data = [("1","2"),("1","3"),("2","3"),("1","4"),("2","4"),("1","5"),("2","5"),("1","7"),("3","7"),("1","6"),("3","6"),("2","6")]
schema ='user1 string , user2 string'
df = spark.createDataFrame(data,schema)
df.show()

+-----+-----+
|user1|user2|
+-----+-----+
|    1|    2|
|    1|    3|
|    2|    3|
|    1|    4|
|    2|    4|
|    1|    5|
|    2|    5|
|    1|    7|
|    3|    7|
|    1|    6|
|    3|    6|
|    2|    6|
+-----+-----+

In [68]:
df1 = df.select('*')

In [69]:
df2 = df.select(col('user2').alias("user1"),col('user1').alias("user2"))

In [70]:
df2.show()

+-----+-----+
|user1|user2|
+-----+-----+
|    2|    1|
|    3|    1|
|    3|    2|
|    4|    1|
|    4|    2|
|    5|    1|
|    5|    2|
|    7|    1|
|    7|    3|
|    6|    1|
|    6|    3|
|    6|    2|
+-----+-----+

In [71]:
df_all = df1.union(df2)

# Each employee has how many friends ?

In [72]:
df_all.groupBy('user1')\
      .agg(count('*').alias("cnt"))\
      .sort(desc('cnt')).show()

+-----+---+
|user1|cnt|
+-----+---+
|    1|  6|
|    2|  5|
|    3|  4|
|    6|  3|
|    7|  2|
|    4|  2|
|    5|  2|
+-----+---+

In [76]:
df_all.show()

+-----+-----+
|user1|user2|
+-----+-----+
|    1|    2|
|    1|    3|
|    2|    3|
|    1|    4|
|    2|    4|
|    1|    5|
|    2|    5|
|    1|    7|
|    3|    7|
|    1|    6|
|    3|    6|
|    2|    6|
|    2|    1|
|    3|    1|
|    3|    2|
|    4|    1|
|    4|    2|
|    5|    1|
|    5|    2|
|    7|    1|
+-----+-----+
only showing top 20 rows

In [74]:
df_all1 = df_all.select(col('user1').alias("user_1"),col('user2').alias("user_2"))

In [75]:
df_all1.show()

+------+------+
|user_1|user_2|
+------+------+
|     1|     2|
|     1|     3|
|     2|     3|
|     1|     4|
|     2|     4|
|     1|     5|
|     2|     5|
|     1|     7|
|     3|     7|
|     1|     6|
|     3|     6|
|     2|     6|
|     2|     1|
|     3|     1|
|     3|     2|
|     4|     1|
|     4|     2|
|     5|     1|
|     5|     2|
|     7|     1|
+------+------+
only showing top 20 rows

In [98]:
df_final= df_all.join(df_all1).filter(df_all.user1 == df_all1.user_1).select('user1','user2',df_all1.user_2.alias('friend_user1'))\
                 .join(df_all1).filter(df_all.user1 == df_all1.user_2).select('user1','user2','friend_user1' , df_all1.user_2.alias('friend_user2')).show()

+-----+-----+------------+------------+
|user1|user2|friend_user1|friend_user2|
+-----+-----+------------+------------+
|    7|    1|           1|           7|
|    7|    1|           1|           7|
|    7|    1|           3|           7|
|    7|    1|           3|           7|
|    7|    3|           1|           7|
|    7|    3|           1|           7|
|    7|    3|           3|           7|
|    7|    3|           3|           7|
|    3|    7|           7|           3|
|    3|    7|           7|           3|
|    3|    7|           7|           3|
|    3|    7|           7|           3|
|    3|    7|           6|           3|
|    3|    7|           6|           3|
|    3|    7|           6|           3|
|    3|    7|           6|           3|
|    3|    7|           1|           3|
|    3|    7|           1|           3|
|    3|    7|           1|           3|
|    3|    7|           1|           3|
+-----+-----+------------+------------+
only showing top 20 rows

In [99]:
df_final.

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
df_final.select('*').where('friend_user1 == friend_user2 ')